doctype html
html
  head
    title Prototype
    link(rel="stylesheet", href="./styles/main.css")
  body(ng-app="")
    include _mixins

    block content

    script(src="../scripts/livereload-support.js")
    script(src="../scripts/libs/angular/angular.min.js")

    block script
