doctype
html
  head
    title Prototype
    link(rel="stylesheet", href="styles/main.css")

  body(ng-app="")
    include _mixins
    include _debug-grid

    block content

    block scripts
      script(src="scripts/livereload-support.js")
      script(src="scripts/libs/angular/angular.min.js")
