extends _layout

block content
  +debugGrid(30, 5, 24, {class: 'flex-justify-center'})

  .container
    .page-header: h1 Prototyping demo

    p
      | This page is a demo of different kinds of interactions that you can
      | easily prototype with Angular and Jade templates.

    h2 Input

    .two-columns
      .column
        input.form-control(ng-model="name", placeholder="Enter some text")
      .column
        .well(ng-show="name") {{name}}

    h2 Modal

    +btn("exampleModal=true").btn-primary Show modal

    +modal("exampleModal", "Modal title")
      .modal-body: p Modal contents
      .modal-footer
        +btn("exampleModal=false") Close
        +btn("exampleModal=false").btn-primary Ok

    h2 Multiple states

    .two-columns
      .column
        .form-group: select.form-control(ng-model="state", ng-init="state='State 1'")
          option State 1
          option State 2

        .form-group: .btn-group
          +btn("state='State 1'")(ng-class="{active:state=='State 1'}")
            | State 1
          +btn("state='State 2'")(ng-class="{active:state=='State 2'}")
            | State 2

      .column
        +switchBy("state")
          +state("State 1").bg-warning: h1 One
          +state("State 2").bg-info: h1 Two


    h2 Absolute positioning
    div(style="position:relative")
      input.form-control(
        ng-model="tooltip",
        placeholder="Type 'tooltip' to show one",
        ng-change="showTooltip=tooltip=='tooltip'")

      +flyout("showTooltip")(style="top: -108px;")
        .popover.top(style="display:block")
          .arrow
          h3.popover-title Popover top
          .popover-content
            p Sed posuere consectetur est at lobortis. Aenean eu leo quam.
