@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/fontawesome/less/font-awesome';

@fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts";

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-auto {
  -webkit-flex: auto;
  flex: auto;
}

.two-columns {
  .flex-row;
  
  .column:nth-child(1) {
    .flex-auto;
    width: 50%;
    margin-right: 10px;
  }

  .column:nth-child(2) {
    .flex-auto;
    width: 50%;
    margin-left: 10px;
  }
}

.active {
  background-color: blue;
  color: white;
}