@import '../../bower_components/bootstrap/less/bootstrap';
@import 'debug-grid';

body {
  background-color: #ecf0f1;
  color: #2c3e50;
}

.container {
  // fixed size for demo purposes, actually Bootstrap
  // does it in a responsive way
  width: 960px;
  padding: 0 10px;
}

.page-header {
  border-color: lighten(#2c3e50, 50%);
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-auto {
  -webkit-flex: auto;
  flex: auto;
}

.flex-none {
  -webkit-flex: none;
  flex: none;
}

.flex-justify-center {
  justify-content: center;
}

.two-columns {
  .flex-row;

  .column:nth-child(1) {
    .flex-auto;
    width: 50%;
    margin-right: 10px;
  }

  .column:nth-child(2) {
    .flex-auto;
    width: 50%;
    margin-left: 10px;
  }
}

.active {
  background-color: blue;
  color: white;
}

.flyout-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  z-index: 1000;
}
